@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(Inter_400_normal.eot); /* http://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZk&skey=c491285d6722e4fa&v=v20 */
    src: local('☺'),
        url(Inter_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZk&skey=c491285d6722e4fa&v=v20 */
        url(Inter_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZ0.woff2 */
        url(Inter_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZs&skey=c491285d6722e4fa&v=v20 */
        url(Inter_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZhrib2Au-0.ttf */
        url(Inter_400_normal.svg#Inter_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZo&skey=c491285d6722e4fa&v=v20#Inter */
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url(Inter_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Inter_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Inter_600_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZ0.woff2 */
        url(Inter_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZs&skey=c491285d6722e4fa&v=v20 */
        url(Inter_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZhrib2Au-0.ttf */
        url(Inter_600_normal.svg#Inter_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(Inter_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Inter_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Inter_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZ0.woff2 */
        url(Inter_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZs&skey=c491285d6722e4fa&v=v20 */
        url(Inter_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZhrib2Au-0.ttf */
        url(Inter_700_normal.svg#Inter_700_normal) format('svg'); /* {{svg-gf-url}} */
}
